@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #16151A;
  color: #FFF;
}

.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.dashboard {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap:2rem;
  margin: auto;
  /* border: 1px solid red; */
  padding: 2rem 1.5rem;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  /* border: 1px solid red; */
}

.navbar .logo {
  font-size: 1.6rem;
  font-weight: 700;
}

.navbar .btn {
  margin: auto;
}

.nav-links { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.nav-link {
  padding: 1rem 0;
  text-decoration: none;
  color: #FFF;
}

.date {
    text-align: left;
}

.subheading {
  padding: 1.5rem;
  font-size: 1.2rem;
}

.form-group {
  max-width: 500px;
  margin: auto;
  padding: .5rem 1rem;
}

.form-group label {
  display: block;
  text-align: left;
  padding: .7rem 0;
  font-size: .8rem;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #AAA;
}

.btn {
  color: #444;
  padding: .6rem;
  font-weight: 700;
  margin: 1rem 0;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.btn-primary {
  font-size: 1rem;
  background: #EEE;
  border: none;
  padding: .5rem 2rem;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DDD;
  width: 32px;
  height: 32px;
  margin: .5rem;
  border-radius: 100%;
}



.byline {
  padding: 1rem;
}

.dashboard {

}

.login {

}

.register {

}

.tasks {
  margin: 2rem;
  position: relative;
}

.btn-add-task {
  position: absolute;
  font-size: 1.6rem;
  font-weight: 600;
  right: 30px;
  top: 10px;
}

.task-row {
  border-top: 1px solid #333;
}

.task-row {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 2fr 1fr;
  align-items: center;
  border-bottom: 1px solid #333;
  width: 100%;
  margin: auto;
}

.task-row .task-cell:first-of-type {
  border-left: 1px solid #333;
}

.task-row .task-cell:last-of-type {
  border-right: 1px solid #333;
}

.task-cell {
  min-height: 60px;
  padding: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-row h3 {
  max-width: 80%;
  font-size: 1rem;
  font-weight: 500;
  display: flex;

}

.task-item-buttons {
  display: flex;
  justify-content: center;
}

.task-item-status {
  /* position: absolute;
  top: 2.2rem;
  right: 2rem; */
  padding: 1rem;
  height: 22px;
  width: 22px;
  background: #333;
}

input[type=checkbox] { 
  accent-color: #333;
  cursor: pointer;
}

.pomodoro-buttons {
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 220px;
}

.pomodoro-buttons .btn {
  margin: 1rem .5rem;
}

.timer-display {
  position: relative;
  border: 10px solid #DDD;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  font-size: 2.5rem;
  letter-spacing: 2px;
}